DB_DATABASE=mi-cuerpo
DB_USERNAME=mi-cuerpo
DB_PASSWORD=secret
DB_PORT=5432

REDIS_PORT=6379

API_PORT=3000 # Must be the same as ./api/.env -> PORT
APP_PORT=3001 # Must be the same as ./app/.env -> PORT

UID=1000
GID=1000
