# Control de versiones y configuración
.git
.gitignore
.env
.env.*

# Dependencias (Evita pisar el npm install de Linux con lo de tu Mac)
node_modules/
**/node_modules/

# Archivos de compilación locales (Evita arrastrar el build de tu Mac)
dist/
**/dist/
vendor/

# Archivos temporales y del sistema (Vital si desarrollás en macOS)
.DS_Store
**/.DS_Store
Thumbs.db
*.log
.npm
.cache/
