PORT=3000
NODE_ENV=local

DATABASE_URL="postgresql://mi-cuerpo:secret@db:5432/mi-cuerpo?schema=public"

REDIS_URL="redis://redis:6379"

API_KEY=1234

ALLOWED_ORIGINS=http://localhost:3001

JWT_SECRET=1234

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
